.App {
    background-color: #183153;
    font-family: 'Poppins', sans-serif;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.container-section {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
}

.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

@keyframes appear {
    0% {
        transform: translateY(-100%) scaleY(0);
    }

    100% {
        transform: translateY(0) scaleY(1);
    }
}

#vertical-nav {
    height: 100%;
    min-height: 500px;
    position: absolute;
    top: 0;
    width: 60px;
    z-index: 3;
}

#vertical-nav > .navbar-brand > img {
    position: absolute;
    left: 5px;
}

.card-body {
    padding: 0.5rem !important;
}

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.controls .control {
    padding: 1rem;
    cursor: pointer;
    /* background-color: #454e56; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    /* box-shadow: 0 3px 15px rgba(0, 0, 0, .3); */
}

.controls .control i {
    font-size: 1.2rem;
    color: #b2becd;
    pointer-events: none;
}

.controls .active-btn {
    background-color: #418092;
    transition: all 0.4s ease-in-out;
}

.controls .active-btn i {
    color: #FFFFFF;
}

.socials {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100vh;
}

.footer-details {
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.footer-details:hover {
    transform: translateY(8px);
}

.footer-inline {
    display: inline-block;
    padding: 1rem;
}

@media (min-width: 992px) {
    .navbar {
        display: none !important;
    }
    
    footer {
        display: none;
    }
}

@media (max-width: 1200px) {
    #vertical-nav {
        display: none;
    }

    .container-section {
        display: block;
        transform: none;
        transition: none;
    }

    .controls {
        display: none;
    }

    section {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
        height: auto;
    }
}